*[data-ui-element=dk-dashboard] {
    padding: .3em;
    border-top: 1px solid @gray-lighter;
    overflow: hidden;
    text-overflow: ellipsis;

    .property {
        float: right;
        display: block;
        white-space: nowrap;
        &:after {
            content: " ";
            white-space: normal;
        }

        color: @gray;
        em {
            color: black;
            font-style: normal;
        }

        .move {
            visibility: hidden;
            &.available {
                visibility: visible;
            }
        }
        .move, &.edit {
            cursor: pointer;
        }
    }

    .modal {
        form {
            .input-group {
                margin-top: 1em;
            }
        }
    }

    .clearfix();

}
