[data-ui-element=dk-group] {
    .panel-heading {
        & > span {
            display: block;
            color: @gray;
            font-style: italic;
        }
        .actions {
            float: right;
            cursor: pointer;
            color: @gray;
        }
    }

    .dashboards {
        width: 100%;
    }
}
