// Ensure the element has the given ratio
.ratio(@ratio) {
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: percentage(1/@ratio);
    }
}

.bounce-enter-leave {
    &.ng-enter, &.ng-leave {
        transition: transform 0.8s cubic-bezier(1,.17,.34,1), opacity 1s linear;
        transition: transform 0.8s cubic-bezier(1,.17,.34,1.57), opacity 1s linear;
    }
    &.ng-enter, &.ng-leave.ng-leave-active {
        transform: scale(0);
        opacity: 0;
    }
    &.ng-enter.ng-enter-active, &.ng-leave {
        transform: scale(1);
        opacity: 1;
    }
}

.slide-right-enter-leave {
    &.ng-enter, &.ng-leave {
        transition: transform 0.8s cubic-bezier(1,.17,.34,1), opacity 1s linear;
        transition: transform 0.8s cubic-bezier(1,.17,.34,1.57), opacity 1s linear;
    }
    &.ng-enter, &.ng-leave.ng-leave-active {
        transform: translateX(100%);
        opacity: 0;
    }
    &.ng-enter.ng-enter-active, &.ng-leave {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-move() {
    &.ng-move, &.ng-move.ng-move-active + & {
        transition: transform 0.3s cubic-bezier(.05,.6,.43,1);
        transition: transform 0.3s cubic-bezier(.05,.6,.43,1.53);
    }
    &.ng-move {
        transform: translateY(100%);
    }
    &.ng-move.ng-move-active {
        transform: translateY(0);
    }
    &.ng-move + & {
        transform: translateY(-100%);
    }
    &.ng-move.ng-move-active + & {
        transform: translateY(0);
    }
}
