html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.loading, .iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe {
    z-index: 10;
}


.loading {
    z-index: 20;
    display: none;
    overflow: hidden;
    &.show {
        display: block;
    }

    background-color: #e6e6e5;
    background-image: url("../images/dashkiosk.svg");
    background-position: center 20%;
    background-size: 30%;
    background-repeat: no-repeat;

    @keyframes waves {
        0% { left: 0; }
        100% { left: -998px }
    }

    .waves {
        opacity: .8;
    }
    .wave {
        position: absolute;
        width: 300%;
        height: 300px;
        background-image: url('../images/wave.png');
        background-repeat: repeat-x;
        &.wave1 {
            animation: waves 27s infinite linear;
            bottom: 20%;
        }
        &.wave2 {
            animation: waves 22s infinite linear;
            bottom: 5%;
            margin-left: -20%;
        }
        &.wave3 {
            animation: waves 17s infinite linear;
            bottom: -10%;
            margin-left: -40%;
        }
    }
}
