@import "common/fonts";

body, html, div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    .logo {
        position: absolute;
        top: 4%;
        left: 4%;
        width: 20%;
        height: 20%;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.6;
    }
    .clock {
        position: absolute;
        right: 4%;
        bottom: 4%;
        height: 1em;
        .font-source-sans-pro(96px);
        color: white;
        text-align: right;
        text-shadow: -1px -1px 0 #000;
        opacity: 0.7;
    }
    .photo {
        display: none;
    }
    .background > div {
        position: absolute;
        background-color: #777;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        transition: opacity 1s linear;
        &:first-child {
            opacity: 1;
        }
    }
}
