# Android
/android/local.properties
/android/bin/
/android/gen/

# JS
/build/
/dist/
/node_modules/
/app/bower_components/
/.tmp/
/.rebooted

# Run stuff
/dashkiosk-*.sqlite
/config.json
/coverage.html
