<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashkiosk — Administration interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- build:css styles/admin-vendor.css -->
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css">
    <!-- endbuild -->
    <!-- build:css styles/admin-final.css -->
    <link rel="stylesheet" href="styles/admin.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dashkiosk">
    <dk-alerts></dk-alerts>

    <header>
      <img class="logo" src="images/dashkiosk.svg">Dashkiosk
      <img class="branding" src="images/stamp-<%= branding %>.svg">
      <dk-loading-indicator>
        <%= include('spinner') %>
      </dk-loading-indicator>
    </header>

    <div class="container" ng-view>
    </div>

    <div class="footer">
      <a href="http://dashkiosk.readthedocs.org/en/v<%= version %>/usage.html#administration">
        <span class="glyphicon glyphicon-book"></span>
        Dashkiosk documentation
      </a>
    </div>

    <!-- build:js scripts/admin-vendor.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/later/later.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/admin-final.js -->
    <script src="scripts/admin.js"></script>
    <script src="scripts/views.js"></script>
    <script src="scripts/services/admin.js"></script>
    <script src="scripts/services/groups.js"></script>
    <script src="scripts/services/loading.js"></script>
    <script src="scripts/services/alerts.js"></script>
    <script src="scripts/directives/admin.js"></script>
    <script src="scripts/directives/loading.js"></script>
    <script src="scripts/directives/alerts.js"></script>
    <script src="scripts/directives/group.js"></script>
    <script src="scripts/directives/display.js"></script>
    <script src="scripts/directives/dashboard.js"></script>
    <script src="scripts/directives/dragndrop.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <script src="scripts/controllers/groups.js"></script>
    <script src="scripts/controllers/group.js"></script>
    <script src="scripts/controllers/display.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <!-- endbuild -->

</body>
</html>
