<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Dashkiosk — Receiver</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <!-- build:css styles/receiver-final.css -->
  <link rel="stylesheet" href="styles/receiver.css">
  <!-- endbuild -->
  <style>
   .loading .branding {
     background-image: url("images/loading-<%= branding %>.svg");
   }
  </style>
</head>
<body>

  <div class="glow"></div>
  <div class="osd text"></div>
  <div class="osd technical"></div>
  <div class="show loading" id="loading">
    <div class="branding branding-<%= branding %>"></div>
  </div>

  <!-- build:js scripts/receiver-vendor.js -->
  <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
  <script src="bower_components/zepto/zepto.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/receiver-final.js -->
  <script src="scripts/require.js"></script>
  <script src="scripts/receiver/console.js"></script>
  <script src="scripts/receiver/supervisor.js"></script>
  <script src="scripts/receiver/errors.js"></script>
  <script src="scripts/receiver/viewport.js"></script>
  <script src="scripts/receiver/iframe-queue.js"></script>
  <script src="scripts/receiver/screen.js"></script>
  <script src="scripts/receiver/localstorage.js"></script>
  <script src="scripts/receiver/osd.js"></script>
  <script src="scripts/receiver/socketio.js"></script>
  <script src="scripts/receiver.js"></script>
  <!-- endbuild -->
</body>
</html>
