<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Dashkiosk — Unassigned screen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- build:css styles/unassigned-final.css -->
  <link rel="stylesheet" href="styles/unassigned.css">
  <!-- endbuild -->
  <style>
   .logo {
     background-image: url("images/stamp-<%= branding %>.svg");
   }
  </style>
</head>
<body>

  <div class="background">
  </div>

  <% _.each(unassigned, function(n) { %>
  <div class="photo" data-image="<%= n %>"></div><%
  }) %>

  <div class="logo"></div>
  <div class="clock"></div>

  <!-- build:js scripts/unassigned-vendor.js -->
  <script src="bower_components/zepto/zepto.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/unassigned-final.js -->
  <script src="scripts/unassigned.js"></script>
  <!-- endbuild -->
</body>
</html>
