body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#loading {
    width: 80%;
    height: 80%;
    cursor: wait;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    background-image: url(../images/loading.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    -webkit-animation: loading 4s infinite linear;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}
