.osd {
    position: absolute;

    &.text {
        bottom: 4%;
        left: 4%;
        height: 1em;
        text-align: left;
        .font-source-code-pro(96px);

        transform: translateX(-150%);
        transform: translate3d(-150%, 0, 0);
    }
    &.technical {
        top: 4%;
        right: 4%;
        text-align: right;
        .font-source-code-pro(32px);

        p { margin: 0; }

        transform: translateX(150%);
        transform: translate3d(150%, 0, 0);
    }

    z-index: 2000;
    color: white;
    text-shadow: -1px -1px 2px #000,
                 1px -1px 2px #000,
                 -1px 1px 2px #000,
                 1px 1px 2px #000;
    opacity: 0.9;

    transition: transform 0.5s;

    &.show {
        transform: translateX(0);
        transform: translate3d(0, 0, 0);
    }

}
