<div data-ui-element="dk-dashboard" ng-class="{active: dashboard.active}">
  <a href="{{ dashboard.url }}"
     target="_blank"
     title="{{ dashboard.url }}">{{ dashboard.description || dashboard.url }}</a>
  <span class="property">
    <span class="move"
          ng-class="{available: !$parent.$last}"
          ng-click="dashboard.$update({rank: $parent.$index + 1})">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </span>
    <span class="move"
          ng-class="{available: !$parent.$first}"
          ng-click="dashboard.$update({rank: $parent.$index - 1})">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </span>
  </span>
  <span class="property edit"
        bs-modal
        data-template="dashboard.edit.html">
    <span class="glyphicon glyphicon-pencil"></span>
  </span>
  <span class="property timeout"
        bs-tooltip="'Timeout'"
        ng-show="dashboard.timeout">
    <span class="glyphicon glyphicon-time"></span>
    <em editable-text="dashboard.timeout"
        buttons="no"
        onbeforesave="dashboard.$update({timeout: $data || null})"
        e-size="3")>{{ dashboard.timeout }}</em>s
  </span>
</div>
