<div class="modal" data-ui-element="dk-dashboard-edit" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="EditDashboardCtrl">
      <form novalidate name="dashboardForm" class="form" role="form" ng-submit="submit()">
        <div class="modal-body">
          <div class="input-group" ng-class="{'has-error': dashboardForm.url.$invalid}"">
            <span class="input-group-addon"><span title="URL" class="glyphicon glyphicon-link"></span></span>
            <input type="url" class="form-control"
                   placeholder="URL" name="url" required
                   ng-model="dashboard.url">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><span title="Description" class="glyphicon glyphicon-book"></span></span>
            <input type="text" class="form-control"
                   placeholder="Description" name="description"
                   ng-model="dashboard.description">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon"><span title="Timeout" class="glyphicon glyphicon-refresh"></span></span>
                <input type="number" class="form-control"
                       placeholder="Timeout" name="timeout"
                       ng-model="dashboard.timeout">
                <span class="input-group-addon">s</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon"><span title="Delay" class="glyphicon glyphicon-time"></span></span>
                <input type="number" class="form-control"
                       placeholder="Delay" name="delay"
                       ng-model="dashboard.delay">
                <span class="input-group-addon">s</span>
              </div>
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><span title="Viewport" class="glyphicon glyphicon-resize-full"></span></span>
            <input type="text" class="form-control" viewport
                   autocapitalize="off" autocorrect="off"
                   placeholder="Viewport size (height × width)" name="viewport"
                   ng-model="dashboard.viewport">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><span title="Availability rules" class="glyphicon glyphicon-calendar"></span></span>
            <textarea class="form-control pull-left"
                      autocapitalize="off" autocorrect="off"
                      placeholder="This dashboard is available when..."
                      name="availability" rows="4" style="resize: vertical"
                      ng-model="dashboard.availability">
            </textarea>
          </div>
          <p class="help-block">
            The dashboard will be displayed only when availability rules allow it.
            <span ng-switch="isAvailable()">
              <span ng-switch-when="true">
                Currently, it is available for display.
                <span ng-if="nextAvailable(false)">
                  It will become unavailable from {{ nextAvailable(false) }}.
                </span>
              </span>
              <span ng-switch-default>
                Currently, it is not available for display.
                <span ng-if="nextAvailable(true)">
                  It will be displayed from {{ nextAvailable(true) }}.
                </span>
              </span>
            </span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left"
                  ng-show="!isNew()"
                  ng-click="delete()">
            <span class="glyphicon glyphicon-trash"> Delete</span>
          </button>
          <button type="button" class="btn" ng-click="$hide()">Cancel</button>
          <button type="submit" class="btn btn-primary"
                  ng-disabled="!dashboardForm.$valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
