<div class="modal" data-ui-element="dk-dashboard-edit" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="EditDashboardCtrl">
      <form novalidate name="dashboardForm" class="form" role="form" ng-submit="submit()">
        <div class="modal-body">
          <div class="input-group" ng-class="{'has-error': dashboardForm.url.$invalid}"">
            <span class="input-group-addon"><span title="URL" class="glyphicon glyphicon-link"></span></span>
            <input type="url" class="form-control"
                   placeholder="URL" name="url" required
                   ng-model="dashboard.url">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><span title="Description" class="glyphicon glyphicon-book"></span></span>
            <input type="text" class="form-control"
                   placeholder="Description" name="description"
                   ng-model="dashboard.description">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon"><span title="Timeout" class="glyphicon glyphicon-time"></span></span>
                <input type="number" class="form-control"
                       placeholder="Timeout" name="timeout"
                       ng-model="dashboard.timeout">
                <span class="input-group-addon">s</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon"><span title="Viewport" class="glyphicon glyphicon-resize-full"></span></span>
                <input type="text" class="form-control" viewport
                       autocapitalize="off" autocorrect="off"
                       placeholder="Viewport size (height × width)" name="viewport"
                       ng-model="dashboard.viewport">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left"
                  ng-show="!isNew()"
                  ng-click="delete()">
            <span class="glyphicon glyphicon-trash"> Delete</span>
          </button>
          <button type="button" class="btn" ng-click="$hide()">Cancel</button>
          <button type="submit" class="btn btn-primary"
                  ng-disabled="!dashboardForm.$valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
