<div data-ui-element="dk-dashboard" ng-class="{active: dashboard.active}">
  <div class="properties">
    <span class="property viewport"
          bs-tooltip="'Viewport'"
          ng-show="dashboard.viewport">
      <span class="glyphicon glyphicon-resize-full"></span>
      <em editable-text="dashboard.viewport"
          buttons="no"
          onbeforesave="dashboard.$update({viewport: $data || null})"
          e-size="6">{{ dashboard.viewport }}</em>
    </span>
    <span class="property timeout"
          bs-tooltip="'Timeout'"
          ng-show="dashboard.timeout">
      <span class="glyphicon glyphicon-refresh"></span>
      <em editable-text="dashboard.timeout"
          buttons="no"
          onbeforesave="dashboard.$update({timeout: $data || null})"
          e-size="3">{{ dashboard.timeout }}</em>s
    </span>
    <span class="property delay"
          bs-tooltip="'Delay'"
          ng-show="dashboard.delay">
      <span class="glyphicon glyphicon-time"></span>
      <em editable-text="dashboard.delay"
          buttons="no"
          onbeforesave="dashboard.$update({delay: $data || null})"
          e-size="3">{{ dashboard.delay }}</em>s
    </span>
    <span class="property edit"
                 bs-modal
                 data-container="body"
                 data-template="dashboard.edit.html">
      <span class="glyphicon glyphicon-pencil"></span>
    </span>
    <span class="property move"
          ng-class="{available: !$parent.$last}"
          ng-click="dashboard.$update({rank: $parent.$index + 1})">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </span>
    <span class="property move"
          ng-class="{available: !$parent.$first}"
          ng-click="dashboard.$update({rank: $parent.$index - 1})">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </span>
  </div>
  <div class="name">
    <a href="{{ dashboard.url }}"
       target="_blank"
       title="{{ dashboard.url }}">{{ dashboard.description || dashboard.url }}</a>
  </div>
</div>
