<div data-ui-element="dk-display"
     dk-draggable="{{ display.name }}"
     ng-class="{chromecast: !!display.chromecast}"
     data-drag-type="text/vnd.dashkiosk.display">
  <div class="screen"
       ng-class="{on: display.connected, off: !display.connected, chromecast: !!display.chromecast}"
       style="background-position: {{ backgroundOffset() }};"
       bs-modal
       data-container="body"
       data-template="display.edit.html"
       title="{{ display.description }}">
    <div class="content">
      <span class="name">{{ display.name }}</span>
      <span class="description" ng-show="display.description">
        {{ display.description }}
      </span>
    </div>
  </div>
</div>
