<div class="popover">
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="actions">
      <span class="glyphicon glyphicon-trash"
            bs-tooltip="'Delete'"
            ng-show="!display.connected"
            ng-click="display.$delete()"></span>
      <span class="glyphicon glyphicon-screenshot"
            bs-tooltip="display.osd?'Hide name':'Show name'"
            ng-show="display.connected"
            ng-click="display.$osd()"></span>
      <span class="glyphicon glyphicon-refresh"
            bs-tooltip="'Reload'"
            ng-show="display.connected"
            ng-click="display.$reload()"></span>
    </div>
    <div class="name"
         editable-text="display.name">{{ display.name }}</div>
    <div class="description"
         editable-text="display.description"
         onbeforesave="display.$update({description: $data})"
         e-placeholder="Display description">{{ display.description || "..." }}</div>
  </div>
</div>
