<div data-ui-element="dk-group"
     class="panel panel-default">
  <div class="panel-heading">
    <div class="actions">
      <span class="glyphicon glyphicon-trash"
            bs-tooltip="'Delete'"
            ng-show="group.$empty()"
            ng-click="group.$delete()"></span>
    </div>
    <div class="name"
         editable-text="group.name"
         onbeforesave="group.$update({name: $data})"
         e-placeholder="Group name">{{ group.name }}</div>
    <div class="description"
         editable-text="group.description"
         onbeforesave="group.$update({description: $data})"
         e-placeholder="Group description">{{ group.description || "..." }}</div>
  </div>
  <div class="panel-body">
    <div class="displays">
      <dk-display
        ng-repeat="display in group.displays | orderBy:['-connected','name']"
        display="display">
      </dk-display>
    </div>
  </div>
  <div class="dashboards">
    <dk-dashboard
      ng-repeat="dashboard in group.dashboards"
      dashboard="dashboard">
    </dk-dashboard>
  </div>
</div>
