<div data-ui-element="dk-group"
     class="panel panel-default"
     dk-droppable="attachDisplay"
     data-drag-accept="text/vnd.dashkiosk.display">
  <div class="panel-heading">
    <div class="actions">
      <span class="glyphicon glyphicon-trash"
            bs-tooltip="'Delete'"
            ng-show="group.$empty()"
            ng-click="group.$delete()"></span>
      <span class="glyphicon glyphicon-refresh"
            bs-tooltip="'Reload all'"
            ng-show="anyConnected()"
            ng-click="reload()"></span>
      <span class="glyphicon glyphicon-screenshot"
            bs-tooltip="allOsd()?'Hide names':'Show names'"
            ng-show="anyConnected()"
            ng-click="toggleOsd()"></span>
    </div>
    <div class="name"
         editable-text="group.name"
         onbeforesave="group.$update({name: $data})"
         e-placeholder="Group name">{{ group.name }}</div>
    <div class="description"
         editable-text="group.description"
         onbeforesave="group.$update({description: $data})"
         e-placeholder="Group description">{{ group.description || "..." }}</div>
  </div>
  <div class="panel-body">
    <div class="displays">
      <dk-display
        ng-repeat="display in group.displays track by display.id | orderBy:['-connected','name']"
        display="display" groups="groups">
      </dk-display>
    </div>
  </div>
  <div class="dashboards">
    <dk-dashboard
      ng-repeat="dashboard in group.dashboards track by dashboard.id"
      dashboard="dashboard">
    </dk-dashboard>
    <div data-ui-element="dk-dashboard" class="add">
      <button class="btn btn-sm"
              bs-modal
              data-container="body"
              data-template="dashboard.edit.html">
        <span class="glyphicon glyphicon-plus"></span>
        Add a new dashboard
      </button>
    </div>
  </div>
</div>
